<app-loading *ngIf="loading"></app-loading>


<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col-2">
        <img [src]="artista.images | noimage" class="img-thumbnail img-circle" alt="">
    </div>

    <div class="col">
        <h3>{{artista.name}}</h3>
        <p>
            <a [href]="artista.external_urls.spotify" target="_blank">
                Ir a la página del artista
            </a>
        </p>
    </div>

    <div class="col-4 text-right">
        <button routerLink="/search" class="btn btn-outline-danger">Regresar</button>
    </div>
</div>

<div class="row mt-5">
    <div class="col">

        <table class="table text-light">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Album</th>
                    <th>Canción</th>
                    <th>Vista previa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let track of topTracks">
                    <th>
                        <img [src]="track.album.images | noimage" class="img-thumb" alt="">
                    </th>
                    <th>{{track.album.name}}</th>
                    <th>{{track.name}}</th>
                    <th>
                        <!-- <audio [src]="track.preview_url" controls></audio> -->
                        <iframe [src]=" track.id | domseguro" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </th>
                </tr>
            </tbody>
        </table>

    </div>
</div>